/* GENERAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: "Poppins", "sans-serif";
    scroll-behavior: smooth;
}

h1 {
    color: #1D1E2A;
    font-size: 2.7rem;
}

h2 {
    color: #D15A44;
    font-size: 2.7rem;
}

h3 {
    font-size: 1.5rem;
}


/* DESKTOP NAV */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    background-color: black;
    position: relative;
}

.nav-links ul li a {
    color: #191f24;
    text-decoration: none;
    transition: color 0.3s;
}



.logo img {
    max-height: 17vh;
    margin-top: 10px;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;
    color: #1D1E2A;
}

a {
    color: white;
    text-decoration: none;
    text-decoration-color: black;
}

a:hover {
    color: rgb(184, 78, 46);
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.hamburger {
    display: none;
    /* Hidden by default, will be displayed in mobile view */
    font-size: 2rem;
    /* Size of the hamburger icon */
    background: none;
    border: none;
    color: white;
    /* Color of the hamburger icon */
}

.mobile-nav {
    display: none;
    /* Hidden by default */
    position: absolute;
    max-height: 0;
    /* Initially set max-height to 0 */
    top: 100%;
    /* Position the menu right below the hamburger icon */
    left: 0;
    /* Align the menu to the left edge of the <nav> */
    width: 100%;
    /* You can adjust this as needed */
    background-color: #fff;
    /* Background color of the mobile nav */
    z-index: 1;
    /* Ensures the menu is below the hamburger but above everything else */
    transition: max-height 0.8s ease;
}

.mobile-nav.open {
    display: block;
    /* Show the nav when it's open */
    max-height: 500px;
    /* Set to the maximum height your menu might be. It should be more than the total height of all links. */

}


/* HERO */

.hero {
    position: relative;
    width: 100%;
    height: 83vh;
    background-image: linear-gradient(rgba(169, 98, 63, 0.5), rgba(49, 127, 143, 0.435)), url("./assets/orange_sunset.jpg");
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.hero-text {
    color: #231815;
    margin-bottom: 5%;

}

.hero-text h2 {
    color: #1D1E2A;
    font-size: 2.7rem;
}

.hero-text h1 {
    color: #D15A44;
    font-size: 2.7rem;
}

.hero h3 {
    font-size: 1.2rem;
}

#profile-pic {
    max-width: 50%;
    margin-bottom: 0;
    max-height: 100%;
}


.companies {
    background-color: rgba(48, 118, 151, 0.435);
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.companies img {
    max-width: 300px;
    max-height: 150px;
    margin: 12px;
    align-content: center;


}

.about-section {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

.about-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 10px;
    color: rgb(224, 223, 223);
}

.hobbies-section {
    width: 80%;
    margin: 5px auto;
    padding: 50px 0;
}

.hobby-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 10px 5px;
    background-color: #ebf5ff;
    border-radius: 6px;
}

.hobby-card img {
    max-width: 40%;
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

.hobby-card-content {
    max-width: 90%;
    padding: 0 20px;
}

.hobby-card-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.hobby-card-content p {
    font-size: 1.2em;
    line-height: 1.6;
}

.projects-section {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.project-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 10px 5px;
    background-color: #ebf5ff;
    border-radius: 6px;
}

.projects-section h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}

.project-card img {
    /* max-width: 40%; */
    border-radius: 8px;
    width: 500px;
    height: 100%;
    /* Adjust as needed */
}

.project-card-content {
    max-width: 90%;
    padding: 0 20px;
}

.project-card-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project-card-content p {
    font-size: 1.2em;
    line-height: 1.6;
}

.contact-section {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    background: linear-gradient(to bottom, #e5ceac, #4d8c94);
    /* background-image: url("./assets/contact-section.png"); */
}

.contact-section h2 {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;

}

.form-group {
    padding-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #0A2342;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 150px;
}

.form-group button {
    padding: 10px 20px;
    background-color: #E95D22;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #f1f1f1b3;
    padding: 20px 0;
    color: #333;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    padding: 10px;
}

.footer-section h4 {
    margin-bottom: 15px;
}

.footer-section ul,
.footer-section p {
    margin: 4px;
    padding: 0;
    list-style-type: none;
}

.footer-section ul li a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: rgb(184, 78, 46);
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
}

.footer-container a {
    color: black;
    text-decoration: none;
    /* text-decoration-color: #007bff; */
}

.footer-section a:hover {
    color: rgb(184, 78, 46);
}

footer {
    background-color: #f1f1f1b3;
    padding: 20px 0;
    color: #333;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    padding: 10px;
}

.footer-section h4 {
    margin-bottom: 15px;
}

.footer-section ul,
.footer-section p {
    margin: 4px;
    padding: 0;
    list-style-type: none;
}

.footer-section ul li a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: rgb(184, 78, 46);
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
}

.footer-container a {
    color: black;
    text-decoration: none;
    /* text-decoration-color: #007bff; */
}

.footer-section a:hover {
    color: rgb(184, 78, 46);
}