.about-page {
    font-family: 'Arial, sans-serif';
}

.about-section {
    background: linear-gradient(to bottom, #08496f, #D15A44);
    opacity: .9;
    width: 100%;
    padding: 20px 0;
}

.about-content {
    background-color: #191f24;
    border-radius: 10px;
    max-width: 80%;
    padding: 20px 10px;
    margin: 0 auto;
    text-align: left;
    color: #e0dfdf;
}

.profile-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #e64b30;
}

.about-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #e64b30;
}

.about-content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 10px;
}


.skills, .timeline, .projects, .testimonials, .hobbies, .quotes {
    margin: 20px auto;
    max-width: 80%;
    text-align: center;
}

.skills h3, .timeline h3, .projects h3, .testimonials h3, .hobbies h3, .quotes h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #e64b30;
    text-align: center;
}

.skill {
    margin-bottom: 10px;
}

.progress-bar {
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    background-color: #4caf50;
    height: 10px;
}

.timeline-item, .project-item, .hobby-item {
    align-items: center;
    margin-bottom: 15px;
}

.timeline-item h4 {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #e64b30;
}

.project-item img, .hobby-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

blockquote {
    font-style: italic;
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 5px solid #ccc;
}

.hobby-item {
    text-align: center;
}

.hobby-item p {
    font-size: 1.2em;
    color: rgb(224, 223, 223);
}

.quotes p {
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    text-align: center;
}