.cta {
    width: 100%;
    padding: 50px 20px;
    /* Adjusted padding for better spacing */
    background: linear-gradient(to bottom, #08496f, #D15A44);
    /* Dark Blue to Orange-Red gradient */
    color: white;
    text-align: center;
}

.cta h1 {
    font-size: 2.8em;
    /* Increased font size for better visibility */
    margin-bottom: 20px;
    color: #FFFFFF;
    /* White text for contrast */
}

.cta p {
    font-size: 1.3em;
    /* Slightly larger font size for readability */
    margin-bottom: 30px;
    color: #F0F0F0;
    /* Lighter color for contrast */
    max-width: 800px;
    /* Restrict width for readability */
    margin-left: auto;
    margin-right: auto;
    /* Center align text block */
}

.cta-button {
    background-color: #5AA2CC;
    /* Light Blue button color */
    color: #FFFFFF;
    /* White text */
    padding: 15px 30px;
    /* Larger padding for buttons */
    margin-right: 15px;
    /* Increased margin between buttons */
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 1.2rem;
    /* Larger font size for button text */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color: #F28E72;
    /* Light Orange-Red for hover effect */
    color: #FFFFFF;
    /* White text */
    transform: scale(1.05);
    background-color: #F28E72;

}