/* Projects.css */

.projects {
    background: linear-gradient(to bottom right, #000000ec, #D15A44);
    /* background-color: #E8F4FA; */
    /* Light blue */
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
    /* background-color: #08496f; */
    color: white;
}

.projects h1 {
    color: #448dd1;
    /* Orange-Red for main heading */
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    /* Larger font size for main heading */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    /* Darker shadow for better contrast */
    margin-bottom: 1.5rem;
}

.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    /* Space between projects */
}

.project {
    background-color: #04477e6e;
    /* Dark Blue */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    margin: 0 10px;
    /* Space between projects */
}

.project img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.project h3 {
    font-size: 1.5em;
    color: #D15A44;
    /* Orange-Red */
    margin-bottom: 10px;

}

.project p {
    font-size: 1.2em;
    color: #FFFFFF;
    /* White text */
}

.project:hover {
    transform: translateY(-10px);
    /* Lift effect on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Deeper shadow on hover */
    background: linear-gradient(to bottom right, #2c6fae, #D15A44);
}

.projects-button {
    background-color: #5AA2CC;
    /* Light Blue button color */
    color: #FFFFFF;
    /* White text */
    padding: 15px 30px;
    /* Larger padding for buttons */
    margin-right: 15px;
    margin-top: 2rem;
    /* Increased margin between buttons */
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 1.2rem;
    /* Larger font size for button text */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.projects-button:hover {
    background-color: #F28E72;
    /* Light Orange-Red for hover effect */
    color: #FFFFFF;
    /* White text */
    transform: scale(1.05);
    background-color: #F28E72;
}