.services {
    background: linear-gradient(to bottom, #08496f, #D15A44);
    padding: 50px 0;
    text-align: center;
}

.services h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #d16957;
}

.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service {
    background: #fff;
    padding: 20px;
    margin: 10px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service h3 {
    margin-bottom: 10px;
    color: #D15A44;
}

.service p {
    color: #333;
}