/* Testimonials.css */

.testimonials {
    background-color: #000000;
    /* Very light gray */
    /* Dark Blue to Orange-Red gradient */
    padding: 50px 0;
    text-align: center;
    color: #FFFFFF;
    /* White text */
}

.testimonials h1 {
    color: #448dd1;
    /* Orange-Red for main heading */
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    /* Larger font size for main heading */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    /* Darker shadow for better contrast */
    margin-bottom: 1.5rem;
}

.testimonials-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    /* Space between testimonials */
}

.testimonial {
    background-color: #ffffff2f;
    /* Dark Blue */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    margin: 0 10px;
    /* Space between testimonials */
}

.testimonial p {
    font-size: 1.2em;
    color: #FFFFFF;
    /* White text */
    margin-bottom: 15px;
    line-height: 1.5;
}

.testimonial h3 {
    font-size: 1.1em;
    color: #D15A44;
    /* Orange-Red */
    margin-bottom: 10px;
}

.testimonial:hover {
    transform: translateY(-10px);
    /* Lift effect on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Deeper shadow on hover */
    background: linear-gradient(to top left, #2c6fae, #D15A44);

}

.testimonials-button {
    background-color: #5AA2CC;
    /* Light Blue */
    color: #FFFFFF;
    /* White text */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1rem;
    margin-top: 20px;
    display: inline-block;
    /* Ensures button respects its padding and text alignment */
}

.testimonials-button:hover {
    background-color: #F28E72;
    /* Light Orange-Red */
    color: #FFFFFF;
    /* White text */
}