.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


body {
  /* background-color: #f0f0f0; */
  /* White background */
  color: #000000;
  /* Black text */
  font-family: Arial, sans-serif;
}

header, footer {
  background-color: #0A1F32;
  /* Dark blue header/footer */
  color: #FFFFFF;
  /* White text */
}

h1, h2, h3 {
  color: #D15A44;
  /* Orange-Red headings */
}

a {
  color: #5AA2CC;
  /* Light Blue links */
}

button {
  background-color: #5AA2CC;
  /* Light Blue buttons */
  color: #FFFFFF;
  /* White text on buttons */
}

button:hover {
  background-color: #F28E72;
  /* Light Orange-Red hover effect */
}